.advant {
  margin-bottom: 150px;

  &__title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    color: #FFFFFF;
    margin-bottom: 121px;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
  }

  &__wrapper-item {
    flex:33.33%;
    width: 639px;
    position: relative;
    border-top: 1px solid  #272727;
    border-right: 1px solid  #272727;
    
    &:before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000000;
      opacity: 0.8;
      z-index: 10;
      display: block;
    }
    &:hover {
      transition: 0.6s all;
      &::before {
        opacity: 0;
        transition: 0.6s all;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
     
    }
    &:nth-child(4){
      border-bottom: 1px solid #272727;
    }
    &:nth-child(5){
      border-bottom: 1px solid #272727;
    }
    &:nth-child(6){
      border-bottom: 1px solid #272727;
    }

  }

  &__item-title {
    position: absolute;
    z-index: 5;
    bottom: 30px;
    left: 30px;

    max-width: 277px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #FFFFFF;
  }
}


@media(max-width:1440px) {
  .advant__item-title {
    font-size: 20px;
  }
}
@media(max-width:1024px) {
  .advant__title {
    font-size: 90px;
  }
  .advant__wrapper-item {
    flex: 50%;
  }
}
@media(max-width:768px) {
  .advant {
  }
  .advant__wrapper-item {
    flex: 100%;
  }
  .advant__title {
    font-size: 60px;
  }
}
@media(max-width:750px) {
  .advant {
    margin-bottom: 50px;
  }
}
@media(max-width:475px) {
  .advant__title {
    font-size: 40px;
  }
  .advant__item-title {
    font-size: 17px;
    width: 190px;
  }
}

