.ask {
  margin-bottom: 150px;

  &__inner {
    display: flex;
  }

  &__map {
    width: 1060px;
    height: 860px;
    margin-right: 37px;
   
    iframe {
      width: 100%;
      height: 100%;
      border-radius: 20px;

    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 69px;
    color: #FFFFFF;
    margin-bottom: 80px;

  }
  &__box-form {
    width: 700px;
  }

  &__form {
  }

  &__form-label {
    padding: 30px 30px 30px 30px;
    width: 100%;
    display: inline-block;
    background: linear-gradient(90.75deg, #1C1C1C 0.65%, rgba(27, 27, 27, 0.4) 107.06%);
    border-radius: 10px;
    border: 1px solid #272727;
    margin-bottom: 30px;
    input {
      width: 100%;
      height: 25px;
      background: transparent;
      color: #fff;
      font-size: 20px;
      &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 90px;
        color: #707070;
      }
     
    }
  }

  &__form-textarea {  
    padding: 30px 30px 30px 30px;
    background: linear-gradient(90.75deg, #1C1C1C 0.65%, rgba(27, 27, 27, 0.4) 107.06%);
    border-radius: 10px;
    color: #fff;
    font-size: 19px;
    width: 700px;
    display: block;
    height: 180px;
    resize: none;
    border: 1px solid #272727;
    margin-bottom: 40px;
    &::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #707070;
    }
  }

  &__box-btn {}

  &__form-btn {
    padding: 30px 65px;
    display: block;
    background-color: transparent;
    border: 2px solid #33B7BC;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.4s all;
    &:hover {
      transition: 0.4s all;
      box-shadow: 0px 0px 15px 1px #33B7BC;
      color: #33B7BC;
    }
  }
}
.container {
}



@media(max-width:1600px) {
  .ask__title {
    font-size: 60px;
  } 
  .ask__form-label {
    // width: 600px;
  }
}
@media (max-width:1440px) {
  .ask__box-form {
    width: 600px;
  }
  .ask__form-textarea {
    width: 600px;
  }
}
@media(max-width:1366px) {
  .ask__title {
    font-size: 55px;
  }
  .ask__form-label {
    padding: 25px 30px 25px 30px;
  }
  .ask__form-btn {
    padding: 25px 50px;
  }

}
@media(max-width:1270px) {
  .ask__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .ask__map {
    width: 900px;
    height: 600px;
    margin-right: 0px;
  }
  .ask__title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .ask__box-btn {
    text-align: center;
  }
  .ask__form-btn {
    display: inline-block;
  }
}
@media(max-width:750px) {
  .ask__map {
    display: none;
  }
  .ask__title {
    margin-bottom: 30px;
  }
  .ask__box-form {
    width: 100%;
  }
  .ask__form-textarea {
    width: 100%;
  }
 
}
@media(max-width:360px) {
  .ask__form-label {
    padding: 22px;
  }
  .ask__form-label {
    input {
      font-size: 15px;
      &::placeholder {
        font-size: 15px;
      }
    }
  }
  .ask__form-textarea {
    padding: 22px;
    font-size: 15px;
    &::placeholder {
      font-size: 15px;
    }
  }
}
