.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 1;
  

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__nav {
    
  }

  &__burger-btn {
    background: transparent;
    width: 71px;
    height: 11px;
    position: absolute;
    &::before {
      content: '';
      width: 61px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      display: block;
      top: 0px;
      right: 0px;
      clip-path: polygon(0% 0%, 0% 0, 100% 0%, 0% 2000%);

      // border-top: 2px solid #ffffff;
      // border-right: 3px solid #161517;
    }
    &::after {
      content: '';
      width: 61px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      display: block;
      bottom: 0px;
      left: 0px;
      clip-path: polygon(0% 0%, 0% 0, 100% 0%, 0% 2000%);
    }
    &:hover::before{
      transition: 0.3s;
      background-color:#33B7BC;
    }
    &:hover::after{
      transition: 0.3s;
      background-color:#33B7BC;
    }
    @media(max-width:1366px) {
      width: 61px;
      &::before {
        width: 51px;
      }
      &::after {
        width: 51px;
      }
    }
  }

  &__menu {
    display: flex;
  }

  &__menu-left {
    padding: 0px 0px 0px 110px;
  }

  &__item {
    margin-right: 55px;

    &:nth-child(3){
      margin-right: 0px;
    }
    &:nth-child(5){
      margin-right: 500px;
    }
    
  }

  &__link {
    z-index: 100;
    font-weight: 500;
    font-size: 15px;
    color: #D7D7D7;
    position: relative;
    &:hover {
      &::before {
        position: absolute;
        z-index: -1;
        bottom: 1px;
        left: 0;
        content: '';
        width:100%;
        height: 4px;
        display: block;
        background: #33b7bc;
        // clip-path: polygon(0% 0%, 0% 0, 100% 0%, 0% 2000%);
        transform: skewX(-25deg)


        // clip-path: polygon(18% 51%, 100% 50%, 79% 60%, 0 61%);

      }
    }
   
  }

  &__logo {
    @media(max-width:1366px) {
      width: 100px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__logo-mobail {
    display: none;
  }

  &__menu-right {
    margin-left: 75px;
    padding: 0px 40px 0px 0px;
  }

  &__dropdown {
    margin-right: 50px;
    position: relative;
    svg {
      position: absolute;
      top: 50%;
      right: 0px;
      fill: #fff;
      transition: 0.2s; 
      transform: translateY(-50%);
    }
  }

  .arrow-active { 
    svg {
      transform: rotate(180deg) translateY(50%);
      transition: 0.2s; 
      fill: #33B7BC;
    }
  }

  &__dropdown-dtn {
    padding: 0px 15px 0px 0px;
    position: relative;
    border: none;
    background: transparent;
    color: #D7D7D7;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
  }


  &__dropdown-list {
    display: none;
    z-index: 1;
    width: 170px;
    position: absolute;
    top: 30px;
    right: 0px;
    padding: 25px;
    border-radius: 14px;
    background: rgba(32, 32, 32, 0.4);
    border: 1px solid #313131;
  }

  &__dropdown-item {
    border-bottom: 1px solid #313131; ;
    padding: 15px 0px;
    font-weight: 500;
    font-size: 15px;

    &:last-child {
      padding-bottom: 0px;
      border-bottom: none;
    }
    &:first-child {
      padding-top: 0px;
    }
    
    &:hover {
      color: #33B7BC;
      transition: 0.5s;
      cursor: pointer;
    }
  }

  &__dropdown-leng {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0px;
    position: absolute;
    svg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      fill: #fff;
      transition: 0.2s;
    }

  }

}

.header-leng {

  &__dropdown {
    
  }

  &__wrapper-dropdowm {
    position: relative;
  }

  &__dropdown-btn {
    font-size: 14px;
    padding: 0px 15px 0px 0px;
    border: none;
    background: transparent;
    color: #D7D7D7;
    text-transform: uppercase;
    font-weight: 500;
  }

  

  &__dropdown-list {
    display: none;
    z-index: 1;
    padding: 25px;
    position: absolute;
    top: 30px;
    right: 0;
    padding: 25px;
    border-radius: 14px;
    background: rgba(32, 32, 32, 0.4);
    border: 1px solid #313131;
  
   
  }

  &__dropdown-item {
    border-bottom: 1px solid #313131; ;
    padding: 15px 0px;
    font-weight: 500;
    font-size: 15px;

    &:last-child {
      padding-bottom: 0px;
      border-bottom: none;
    }
    &:first-child {
      padding-top: 0px;
    }
    &:hover {
      color: #33B7BC;
      transition: 0.5s;
      cursor: pointer;
    }
  }
}

.dropdown-open{
  display: block;
}


@media(max-width:1366px) {
  .header {
    top: 30px;
  }

}

@media(max-width:1200px) {
  .header__menu {
    display: none;
  }
 

  .header__link {
  }
  .header__nav {
  }

  .header__dropdown-leng {
    position: static;
  }
  .header__logo {
    margin-left: 50px;

  }
}

@media(max-width:425px) {
  .container {
    padding: 0px 20px;
  }
  .header__logo {
    display: none;
  } 
  .header__logo-mobail {
    margin-left: 48px;
    display: block;
  } 
 

  
  .dubai__burger-link {
    color:  #E7E7E7;;
  }

  .dubai__burger-link:hover::before {
    position: absolute;
    z-index: -1;
    bottom: 2px;
    left: 0;
    content: "";
    width: 100%;
    height: 10px;
    display: block;
    background: #33b7bc;
    transform: skewX(-25deg);
  }
}



